.contact {
  height: 100vh;
  width: 100vw;
  position: relative;

  &__main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
  }
}