.header {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 50px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;

  &__theme {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}