.landing {
  @media screen and (min-width: $screen-xlg) {
    padding-left: 120px;
    padding-right: 120px;
    width: 60%;
  }

  margin: 0 auto;
  max-width: 1440px;
  width: 80%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;

  &__title {
    // Desktop
    @media screen and (min-width: $screen-xlg) {
      font-size: 32px;
      line-height: 38px;
    }
    @media screen and (min-width: $screen-lg) {
      font-size: 24px;
      line-height: 38px;
    }

    // Mobile
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 2rem;
  }

  &__cta {
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    bottom: 22%;
    align-self: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $screen-md) {
      display: block;
      position: relative;
      bottom: 0;
      align-self: start;
      margin-top: 4rem;
    }

    a {
      color: inherit;
      border-bottom: 1px solid #444452;
      &:hover {
        text-decoration: none;
        border-bottom: 2px solid #444452;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__arrow-down {
    position: absolute;
    bottom: 5%;
    display: flex;

    &__icon {
      height: 30px;
      width: 45px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
