main {
  //flex: 1;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
}

section, .section {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.dark {
    background-color: #f7f7f7;
  }

  &__image {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    &__overlay {
      z-index: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s ease-in-out, 0.75s ease-in-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}
