html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;

  @media (prefers-color-scheme: dark){
    color: #E7E7E7;
  }
  @media (prefers-color-scheme: light){
    color: #444452;
  }
}

* {
  box-sizing: border-box;
}

.m-by {
  display: none !important;
}