#background_wrap {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.fade-in-div {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -10px);
  transition: opacity 1s ease-in-out, 1s ease-in-out;
  transition-delay: calc(var(--animation-order) * 1000ms);
  will-change: visibility, color, translate;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
  }

  &--fast {
    transition-delay: calc(var(--animation-order) * 400ms);
  }
}

section, .section {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out, 0.5s ease-in-out;
  will-change: opacity;
}

.image-section {
  background: none;
  height: 20vh;

  &__overlay {
    width: 100%;
    height: 100%;

    &--top {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 25%) top;
    }

    &--bottom {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 25%) top;
    }
  }
}