.socials {
  &__separator {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__icon {
    height: 16px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none !important;
  }
}