// Light Theme
$text-primary-light: #444452;
$text-secondary-light: #444452;
$section-bg-light: #ffffff;
$section-bg-alt-light: #ffffff;

// Dark Theme
$text-primary-dark: #f1f1f1;
$section-bg-dark: #171C28;
$section-bg-alt-dark: #171C28;

// Breakpoints
$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xlg: 1140px;
