// Light Theme
$text-primary-light: #151515;
$text-secondary-light: #595959;
$section-bg-light: #fafafa;
$section-bg-alt-light: #f7f7f7;

// Dark Theme
$text-primary-dark: #f1f1f1;
$section-bg-dark: #151515;
$section-bg-alt-dark: #070707;